html {
  /* main colors */
  /* red-warm-5 */
  --main-background-light: #f6efea;
  /* red-warm-90 */
  --main-background-dark: #1f1c18;
  /* red-warm-90 */
  --main-text-color-light: #1f1c18;
  /* red-warm-10v */
  --main-text-color-dark: #fce1d4;

  --inner-border-color-light: var(--main-background-dark);

  /* cell colors */
  --cell-border-color-light: var(--main-background-dark);

  /* cyan-20v */
  --cell-peer-color-light: #52daf2;
  /* gold-20v */
  --cell-same-number-color: #ffbe2e;
  /* green-cool-20v */
  --cell-solved-color: #70e17b;

  --active-cell-text-color: var(--main-text-color-light);
  --active-cell-background-color-light: var(--main-background-light);
  --active-cell-background-color-dark: var(--main-background-dark);
  /* red-warm-20v */
  --active-cell-duplicate-color: #f6bd9c;

  --disabled-cell-text-color: var(--main-text-color-light);
  /* gray-20 */
  --disabled-cell-background-color: #c9c9c9;
  /* red-warm-30v */
  --disabled-cell-duplicate-color: #f39268;
  /* cyan-30v */
  --disabled-cell-peer-color: #00bde3;
}

body {
  background-color: var(--main-background-light);
}

.sudoku-board {
  text-align: center;
  color: var(--main-text-color-light);
  width: fit-content;
  margin: 0 auto;
}

.game-board {
  display: grid;
  grid-template-columns: 50px 50px 52px 50px 50px 52px 50px 50px 50px;
  grid-template-rows: 50px 50px 52px 50px 50px 52px 50px 50px 50px;
  background: var(--inner-border-color-light);
  min-width: 454px;
  max-width: 454px;
  margin: 1em auto;
}

.cell {
  font-size: 28px;
  font-weight: bold;
  line-height: 28px;
  width: 42px;
  height: 42px;
  text-align: center;
  border: 2px solid var(--cell-border-color-light);
  outline-offset: -2px;
  color: var(--active-cell-text-color);
  background-color: var(--active-cell-background-color-light);
  padding: 2px;
}

.cell.hasNotes {
  font-size: 12px;
  line-height: 18px;
}

.cell.isPeer {
  background: var(--cell-peer-color-light);
}

.cell.isDuplicate {
  background: var(--active-cell-duplicate-color);
}

.cell:disabled {
  background: var(--disabled-cell-background-color);
  color: var(--disabled-cell-text-color);
}

.cell.isDuplicate:disabled {
  background: var(--disabled-cell-duplicate-color);
}

.cell.isSameNumber,
.cell.isSameNumber:disabled {
  background: var(--cell-same-number-color);
}

.cell.isSolved:disabled {
  background: var(--cell-solved-color);
}

.colors {
  text-align: left;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}