html {
  /* main colors */
  --main-bg-color: #282c34;
  --main-text-color: white;

  --square-border-color: pink;

  /* cell colors */
  --cell-border-color: gray;
  --cell-peer-color: lightblue;
  --cell-same-number-color: orange;
  --cell-solved-color: lightgreen;

  --cell-active-text-color: black;
  --cell-active-bg-color: white;
  --cell-active-duplicate-color: lightcoral;

  --cell-disabled-text-color: black;
  --cell-disabled-bg-color: darkgray;
  --cell-disabled-duplicate-color: darkred;
}

body {
  background-color: var(--main-bg-color);
}

.sudoku-board {
  text-align: center;
  color: var(--main-text-color);
  width: fit-content;
  margin: 0 auto;
}

.game-board {
  display: grid;
  grid-template-columns: 50px 50px 54px 50px 50px 54px 50px 50px 50px;
  grid-template-rows: 50px 50px 54px 50px 50px 54px 50px 50px 50px;
  background: var(--square-border-color);
  min-width: 458px;
  max-width: 458px;
  margin: 1em auto;
}

@media screen and (max-width: 458px) {
  .sudoku-board {
    align-items: unset;
  }
}

.cell {
  font-size: 28px;
  font-weight: bold;
  line-height: 28px;
  width: 42px;
  height: 42px;
  text-align: center;
  border: 2px solid var(--cell-border-color);
  outline-offset: -2px;
  color: var(--cell-active-text-color);
  background-color: var(--cell-active-bg-color);
  padding: 2px;
}

.cell.hasNotes {
  font-size: 12px;
  line-height: 18px;
}

.cell.isPeer {
  background: var(--cell-peer-color);
}

.cell.isDuplicate {
  background: var(--cell-active-duplicate-color);
}

.cell:disabled {
  background: var(--cell-disabled-bg-color);
  color: var(--cell-disabled-text-color);
}

.cell.isDuplicate:disabled {
  background: var(--cell-disabled-duplicate-color);
}

.cell.isSameNumber,
.cell.isSameNumber:disabled {
  background: var(--cell-same-number-color);
}

.cell.isSolved:disabled {
  background: var(--cell-solved-color);
}

.colors {
  text-align: left;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}